/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
/* You can add global styles to this file, and also import other style files */

html,
body {
  background-image: url("assets/IMG/SyberPunk.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

